.containerCustom {
  .tooltip {
    border-radius: 4px;
    background-color: #1D1937;
    padding: 16px;

    a {
      font-weight: 700;
      color: #4C69FF;
      transition: all .2s ease 0s;

      &:hover {
        color: #fff;
      }
    }

    &.gray {
      background-color: #5E5C6B;
      font-size: 14px;
      text-align: center;
    }
  }

  .arrow {
    color: #1D1937;
    font-size: 1rem;

    &.gray {
      color: #5E5C6B;
    }
  }
}