
.text {
  // font-family: 'monospace', Arial, sans-serif;
  // font-family: 'Space Mono';
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1;
  color: var(--font-color);
  text-align: left;

  &.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.lowercase {
    text-transform: lowercase;
  }

  &.capitalize {
    text-transform: capitalize;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.italic {
    font-style: italic;
  }
}