.button {
  background-color: var(--yellow);
  border: solid var(--yellow) 1px;
  border-radius: 12px;
  padding: 10px 12px;
  min-width: 110px;
  color: var(--grey);
  // font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  backdrop-filter: blur(6px);
  transition: all .2s ease 0s;
  cursor: pointer;
  text-transform: uppercase;

  &[disabled] {
    opacity: 0.4;
  }

  &.group {
    border-radius: 0;
    
    &:first-of-type:not(:last-of-type) {
      border-radius: 8px 0 0 8px;

      &.small {
        border-radius: 4px 0 0 4px;
      }
    }

    &:last-of-type:not(:first-of-type) {
      border-radius: 0 8px 8px 0;

      &.small {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  &.active:not(:disabled),
  &:hover:not(:disabled) {
    background-color: var(--grey);
    color: var(--yellow);
  }

  &.rounded {
    border-radius: 20px;
  }

  &.large {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 22px;

    &.rounded {
      border-radius: 22px;
      padding: 8px;
      height: 44px;
    }
  }

  &.small {
    padding: 4px 12px;
    font-size: 12px;
    line-height: normal;
    min-width: 72px;
    border-radius: 4px;

    &.rounded {
      border-radius: 22px;
      padding: 8px;
      height: 44px;
    }
  }

  &.primary {
    background-color: #7204FF;
    border-color: #7204FF;

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: #5000b8;
    }

    &.outlined {
      background-color: transparent;
      border-color: #7204FF;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #5000b8;
        background-color: transparent;
      }
    }
  }

  &.gray {
    background-color: #5E5C6B;
    border-color: #5E5C6B;

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: #6f6d79;
    }

    &.outlined {
      background-color: transparent;
      border-color: #5E5C6B;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #6f6d79;
        background-color: transparent;
      }
    }
  }

  &.success {
    background-color: rgba(92, 222, 160, 0.8);
    border-color: #5CDEA0;
    backdrop-filter: blur(12px);

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: rgba(92, 222, 160, 0.6);
    }

    &.outlined {
      background-color: transparent;
      border-color: #53F19C;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #1c7a48;
        background-color: transparent;
      }
    }
  }

  &.danger {
    background-color: rgba(222, 92, 100, 0.8);
    border-color: #DE5C64;
    backdrop-filter: blur(12px);

    &.active:not(:disabled),
    &:hover:not(:disabled) {
      background-color: rgba(222, 92, 100, 0.6);
    }

    &.outlined {
      background-color: transparent;
      border-color: #FF1D61;

      &.active:not(:disabled),
      &:hover:not(:disabled) {
        border-color: #9c0c37;
        background-color: transparent;
      }
    }
  }

  &.fullWidth {
    width: 100%;
  }
}