.container {
  width: 100%;
  height: 100vh;

  .slider {
    margin-top: 64px;
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    height: auto;
    padding: 64px 0;
  }
}